.App {
  text-align: center;
}

button{
  padding:10px 20px;
  margin: 10px;
  border-radius: 10px;
  font-size: large    ;
  background-color:rgb(16, 16, 16);
  border: none;
}
a{
  text-decoration: none;
  color: rgb(181, 170, 170);
 
}
tr{
  border: 2px solid black;

}
td{
  border: 2px solid black;
}